{{define "accountField"}}
    <h3>Account Information</h3>

    <table>
        <tr>
            <td>First name:</td>
            <td>
                <input type="text" name="firstName" value="{{if .Account}}{{.Account.FirstName}}{{end}}"/>
            </td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>
                <input type="text" name="lastName" value="{{if .Account}}{{.Account.LastName}}{{end}}"/>
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" size="40" name="email" value="{{if .Account}}{{.Account.Email}}{{end}}"/></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" name="phone" value="{{if .Account}}{{.Account.Phone}}{{end}}"/></td>
        </tr>
        <tr>
            <td>Address 1:</td>
            <td><input type="text" size="40" name="address1" value="{{if .Account}}{{.Account.Address1}}{{end}}"/></td>
        </tr>
        <tr>
            <td>Address 2:</td>
            <td><input type="text" size="40" name="address2" value="{{if .Account}}{{.Account.Address2}}{{end}}"/></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" name="city" value="{{if .Account}}{{.Account.City}}{{end}}"/></td>
        </tr>
        <tr>
            <td>State:</td>
            <td><input type="text" size="4" name="state" value="{{if .Account}}{{.Account.State}}{{end}}"/></td>
        </tr>
        <tr>
            <td>Zip:</td>
            <td><input type="text" size="10" name="zip" value="{{if .Account}}{{.Account.Zip}}{{end}}"/></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td><input type="text" size="15" name="country" value="{{if .Account}}{{.Account.Country}}{{end}}"/></td>
        </tr>
    </table>

    <h3>Profile Information</h3>

    <table>
        <tr>
            <td>Language Preference:</td>
            <td>
                <select name="languagePreference" id="languagePreference">
                    {{range .Languages}}
                        {{if $.Account}}
                            {{if eq ($.Account.LanguagePreference) .}}
                                <option value="{{.}}" selected>{{.}}</option>
                            {{else}}
                                <option value="{{.}}">{{.}}</option>
                            {{end}}
                        {{else}}
                            <option value="{{.}}">{{.}}</option>
                        {{end}}
                    {{end}}
                </select>
            </td>
        </tr>
        <tr>
            <td>Favourite Category:</td>
            <td>
                <select name="favouriteCategoryId" id="favouriteCategoryId">
                    {{range .Categories}}
                        {{if $.Account}}
                            {{if eq ($.Account.FavouriteCategoryId) .}}
                                <option value="{{.}}" selected>{{.}}</option>
                            {{else}}
                                <option value="{{.}}">{{.}}</option>
                            {{end}}
                        {{else}}
                            <option value="{{.}}">{{.}}</option>
                        {{end}}
                    {{end}}
                </select>
            </td>
        </tr>
        <tr>
            <td>Enable MyList</td>
            <td><input type="checkbox" name="listOption" value="listOption"
                       {{if .Account}}{{if .Account.ListOption}}checked{{end}}{{end}}/></td>
        </tr>
        <tr>
            <td>Enable MyBanner</td>
            <td><input type="checkbox" name="bannerOption" value="bannerOption"
                       {{if .Account}}{{if .Account.BannerOption}}checked{{end}}{{end}}/></td>
        </tr>

    </table>
{{end}}