{{template "header" .}}

<div id="Catalog">
    <form action="confirmEdit" method="post">

        <h3>User Information</h3>

        <table>
            <tr>
                <td>User ID:</td>
                <td><input type="text" name="username" value="{{.Account.UserName}}" readonly/></td>
            </tr>
            <tr>
                <td>New password:</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td>Repeat password:</td>
                <td><input type="password" name="repeatedPassword"/></td>
                <td><font color="red">{{.Message}}</font></td>
            </tr>
        </table>
        {{template "accountField" .}}

        <input type="submit" name="editAccount" value="Save Account Information" />

    </form>
    {{if .Message}}
        <p style="color: darkred;font-size: 14px">{{.Message}}</p>
    {{end}}
    <a href="orderList">My Orders</a>
</div>
{{template "footer" .}}