{{template "header" .}}

<div id="Catalog">
    <form action="newAccount" method="post">
        <h3>User Information</h3>

        <table>
            <tr>
                <td>User ID:</td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td>New password:</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td>Repeat password:</td>
                <td><input type="password" name="repeatedPassword" /></td>
            </tr>
        </table>

        {{template "accountField" .}}


        <input type="submit" value="Save Account Information">
        {{if .Message}}
            <p style="color: darkred;font-size: 14px">{{.Message}}</p>
        {{end}}
    </form>
</div>
{{template "footer" .}}