{{template "header" .}}

<div id="Catalog">
    <form action="login" method="post">

        <p>Please enter your username and password.</p>
        <p>Username:
            <input type="text" name="username">
            <br/>
            Password:
            <input type="password" name="password">
        </p>
        <input type="submit" name="signIn" value="Login">
        {{if .Message}}
            <p style="color: darkred;font-size: 14px">{{.Message}}</p>
        {{end}}
    </form>
    Need a user name and password?
    <a href="register">
        Register Now!
    </a>
</div>
{{template "footer" .}}
