{{template "header" .}}
<div id="Catalog">

    <form action="confirmOrder" method="post">

        <table>
            <tr>
                <th colspan=2>Payment Details</th>
            </tr>
            <tr>
                <td>Card Type:</td>
                <td>
                    <select name="cardType">
                        {{range .CreditCardTypes}}
                            <option value="{{.}}">
                                {{.}}
                            </option>
                        {{end}}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Card Number:</td>
                <td>
                    <input type="text" name="creditCard" value="{{.Order.CreditCard}}">
                    * Use a fake number!
                </td>
            </tr>
            <tr>
                <td>Expiry Date (MM/YYYY):</td>
                <td>
                    <input type="text" name="expiryDate" value="{{.Order.ExpiryDate}}">
                </td>
            </tr>
            <tr>
                <th colspan=2>Billing Address</th>
            </tr>

            <tr>
                <td>First name:</td>
                <td>
                    <input type="text" name="firstName" value="{{.Order.BillToFirstName}}">
                </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>
                    <input type="text" name="lastName" value="{{.Order.BillToLastName}}">
                </td>
            </tr>
            <tr>
                <td>Address 1:</td>
                <td>
                    <input type="text" name="address1" value="{{.Order.BillAddress1}}">
                </td>
            </tr>
            <tr>
                <td>Address 2:</td>
                <td>
                    <input type="text" name="address2" value="{{.Order.BillAddress2}}">
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    <input type="text" name="city" value="{{.Order.BillCity}}">
                </td>
            </tr>
            <tr>
                <td>State:</td>
                <td>
                    <input type="text" name="state" value="{{.Order.BillState}}">
                </td>
            </tr>
            <tr>
                <td>Zip:</td>
                <td>
                    <input type="text" name="zip" value="{{.Order.BillZip}}">
                </td>
            </tr>
            <tr>
                <td>Country:</td>
                <td>
                    <input type="text" name="country" value="{{.Order.BillCountry}}">
                </td>
            </tr>

            <tr>
                <td colspan=2>
                    <input type="checkbox" name="shippingAddressRequired" value="shippingAddressRequired">
                    Ship to different address...
                </td>
            </tr>

        </table>

        <input type="submit" value="Continue">

    </form>
</div>
{{template "footer" .}}
