{{template "header" .}}
<h2>My Orders</h2>

<table>
    <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Total Price</th>
    </tr>
    {{range .OrderList}}
        <tr>
            <td>
                <a href="checkOrder?orderId={{.OrderId}}">{{.OrderId}}</a>
            </td>
            <td>
                {{.OrderDate.Format "2006-01-02"}}
            </td>
            <td>
                ${{printf "%.2f" .TotalPrice}}
            </td>
        </tr>
        {{end}}
</table>
{{template "footer" .}}
